.title {
  font-size: 70px !important;
  color: #0F4C81 !important;
}

.subtitle {
  font-size: 50px !important;
  color: #0F4C81 !important;
}

.author {
  font-size: 30px;
  color: black;
}

.institute {
  font-size: 30px;
  color: black;
}

.date {
  font-size: 30px;
  color: black;
}